@page "/"
@inject NavigationManager NavigationManager
@inject HttpClient Http

<div style="display: flex; ">
    <div style="flex-grow: 4; margin-top:50px">
        <div style="margin-left: 45%;margin-bottom: 20px;">
            <h2>Iniciar sesión</h2>
        </div>
        <div style="margin-left: 30%">
            <Field>
                <FieldLabel>Correo</FieldLabel>
                <input style="width: 300px;" type="text" @bind="_correo" />
            </Field>
            <Field>
                <FieldLabel>Contraseña</FieldLabel>
                <input style="width: 270px;" type="password" @bind="_contrasenia" />
            </Field>
        </div>
        <div style="margin-left: 30%;">
            <Button Color="Color.Primary" @onclick="ingreso">Ingresar</Button>
        </div>
        @_error
    </div>

    <div style="flex-grow: 4; margin-left: 20%;margin-top:50px">
        <img src="/img/logo.png" asp-append-version="true" width="300px" />
    </div>
</div>
@code{
    private string _correo;
    private string _contrasenia;
    private string _error = "";

    private async void ingreso()
    {
        var respuesta = await Http.GetStringAsync("http://localhost:5000/api/usuarios/" + _correo + "/" + _contrasenia);

        if (respuesta != "error")
        {
            NavigationManager.NavigateTo($"inicio/{respuesta}");
        }
        else
        {
            _error = "No existe...";
        }
    }
}